[2020-03-27 12:58] carlomazzaferro opened #1 "Decrease memory usage"
A single Prophet model fit on a fairly small dataset generates a model of aaround 2GB: https://gist.github.com/carlomazzaferro/41c13d73067c08f9a7c2f5b148eccbe0

When performing fits on hundreds of models this become a bottleneck, as each of the models is kept in memory, as they need to be available during the prediction step.

Proposed solutions:
1. Limit the behavior of `FBProphetModel` to implem

[2020-03-27 13:06] carlomazzaferro opened #2 "Parallelize fits"
Since each of the underlying models are constructed independently, offer the possibility to fit them in parallel.

Possible implementations:

1. Barebones python multiprocessing
2. joblib parallel

[2020-03-27 17:17] vtoliveira opened #3 "[DOCS] Write Usage document and examples"
Need to document Usage sections with a few examples and basic usage for the API.

[2020-03-28 00:46] carlomazzaferro opened #4 "[ENHANCEMENT] Add support for other python versions / platforms"
**Is your proposed enhancement related to a problem? Please describe.**
Add support and automated tests for python 3.5+, and for MacOS, Windows

**Describe the solution you'd like**
Add test matrix with tox

**Describe alternatives you've considered**
Tox, or any other solution that would run tests on travis ci for dfferent versions/platforms

[2020-03-28 01:04] carlomazzaferro commented on #1
Fixed: https://github.com/carlomazzaferro/scikit-hts/commit/12ccbbeb57acc103e6d1f9ec0ae06a21541bfce8

Not an issue for other models, as memory consumptions is low. Might re-open if it becomes an issue for more complex models, i.e. SARIMAX with multiple exogenous variables

[2020-03-28 01:04] #1 closed

[2020-03-28 05:57] ayushpatidar commented on #2
Hey we can use dask. A scalable library and very easy to integrate.

[2020-03-28 07:53] carlomazzaferro commented on #2
I wouldn't want to add Dask as dependency if this can be solved using either built-ins or other light weight solutions.

That being said, what benefits would Dask provide, and do you have a proposed implementation?

[2020-03-28 09:30] carlomazzaferro opened #5 "[ENHANCEMENT] Decrease memory footprint"
**Is your proposed enhancement related to a problem? Please describe.**
Each of the nodes requires a model to be kept in memory after fitting. This is clearly a problem when working with a very large number of nodes. After improvements (https://github.com/carlomazzaferro/scikit-hts/commit/12ccbbeb57acc103e6d1f9ec0ae06a21541bfce8) Prophet still takes ~0.5 MB of memory per model for a simple set of

[2020-03-28 09:35] carlomazzaferro opened #6 "[FEATURE] Decouple reconciliation methods from HTSRegressor's implementation"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use reconciliation methods with my own supplied forecasts, instead of relying on the ones provided by hts. This would allow:

1. Custom model architectures and parameters for each of the nodes
2. Separation of concerns, which makes things more modular and testable
3. Easier to benchmark quality of results

**

[2020-03-29 09:37] ayushpatidar commented on #2
As the number of time series model trained to be trained gets large. There would be problem of load balancing and task failures. Which is quite easily handled by dask.

And as i said earlier dask is very easy to integrate, as it is written in python itself.

[2020-03-29 13:58] carlomazzaferro opened #7 "[FEATURE] Distributed training"
**Is your feature request related to a problem? Please describe.**
As highlighted by https://github.com/carlomazzaferro/scikit-hts/issues/5, memory issues might arise when training on a large number of nodes. Providing the ability to run distributed training would greatly improve the usability of the library for real-world scenarios

**Describe the solution you'd like**
Ability to run distributed

[2020-03-29 13:59] carlomazzaferro commented on #2
@ayushpatidar I'll look into that, closing here in favor of #7 , we can track progress there. I'm not too familiar with Dask so any inputs/proposed implementations are welcome

[2020-03-29 13:59] #2 closed

[2020-03-29 15:03] carlomazzaferro commented on #7
Applicable: https://github.com/blue-yonder/tsfresh/blob/master/tsfresh/utilities/distribution.py

[2020-03-29 15:36] carlomazzaferro opened #8 "[DOCS] Benchmarks"
Document benchmarks of this library agains:

1. Barebones forecasting methodologies without reconciliation
2. Hyndamns R's implementation (https://cran.r-project.org/web/packages/hts/index.html)
3. Methods against each other on a variety of datasets

Ideally, benchmarks would be easily reproducible and version controlled. In a top level directory named `benchmarks` we implement the benchmarks desc

[2020-03-30 12:44] carlomazzaferro opened #10 "[ENHANCEMENT] Make fitting with exogenous variables more relaible"
**Is your proposed enhancement related to a problem? Please describe.**
Fitting with exogenous variables has no testing of any kind, and is likely broken for some of the models

**Describe the solution you'd like**
Test cases for fitting with exogenous variables for each of the models

**Describe alternatives you've considered**
N/A.

**Additional context**
N/A

[2020-03-31 15:00] carlomazzaferro commented on #7
Closed by https://github.com/carlomazzaferro/scikit-hts/pull/9

[2020-03-31 15:00] #7 closed

[2020-03-31 15:00] carlomazzaferro commented on #5
Closed by https://github.com/carlomazzaferro/scikit-hts/pull/9

[2020-03-31 15:00] #5 closed

[2020-04-04 13:29] vtoliveira commented on #3
I think a more concrete example would be better for usage section, I really like how koaning writes his library examples in their docs:

https://scikit-lego.readthedocs.io/en/latest/naive-bayes.html

So we could shorten our example notebooks to see how data is usually structured, how we transform it and then do a simple fit. What do you think?

[2020-04-05 03:18] vtoliveira opened #14 "[BUG] Prediction broken with KeyError: "Invalid unit abbreviation: QS-OCT""
**Describe the bug**
After fitting a model using HTSRegressor when calling predict method there is an error coming from pandas timedelta functionality, apparently pandas.Timedelta does not accept quarterly frequency indexes.

![image](https://user-images.githubusercontent.com/32197310/78465926-ed516b80-76d1-11ea-8a8b-42c8bd12e87a.png)

**To Reproduce**
I used visnights data got from Hyndman book,

[2020-04-05 03:40] vtoliveira commented on #14
Using pandas.Period might solve the problem, I need to investigate more, but you can give a look:

[code]

The problem is that QS-JAN should be converted to Q or Q-DEC in this case.

[2020-04-06 17:17] vtoliveira commented on #14
I give a try using only period parameter for pandas.date_range, like this:

[code]

It worked without errors, is this helpful?

[2020-04-07 16:55] vtoliveira opened #15 "[FEATURE] Adding datasets component with basic hierarchical data."
**Is your feature request related to a problem? Please describe.**
Adding a datasets component to download some base hierarchical structure, like the one in visitors night in australian used by Hyndman in his book.

**Describe the solution you'd like**
A simple section of datasets such as we see in pmdarima, scikit-learn, etc.

Example:

scikit-hts requires that each column to be a node in our dat

[2020-04-09 20:52] vtoliveira commented on #15
So, I was writting this dataset implementation based on pdmarima structure: [example](https://github.com/alkaline-ml/pmdarima/blob/master/pmdarima/datasets/sunspots.py)

However, I noticed you have a file named load_data inside utilities. I think it is better to have a different structure following the design above, what you think? @carlomazzaferro

[2020-04-09 22:38] carlomazzaferro commented on #15
I do prefer the structure you suggest, and I'd be in favour of that implementation. If you would like to proceed with an it, keep in mind that:
- We do need to provide a cache checking implementation, so data is not downloaded twice
- Refactor will be extensive, as conftest.py and some of the examples use the current data loading capibility
- The function: `load_hierarchical_sine_data` doesn't rea

[2020-04-09 22:41] carlomazzaferro commented on #14
I'm absolutely in favour of statsmodel's implementation. Mine was something I came up with and truthfully it is not too thoroughly tested. I can look into it this weekend, but your contribution is welcome as well.

[2020-04-10 12:25] #6 closed

[2020-04-10 12:27] carlomazzaferro commented on #6
Closed by https://github.com/carlomazzaferro/scikit-hts/commit/c9f878ebebacb7d62793c8218bf928e557fbf4f4

[2020-04-10 14:02] vtoliveira commented on #14
So, this seems to be a simple modification, I will work on that and write some tests. I will look that kind of tests they do in statsmodels as well. Have you implemented any frequency check test?

[2020-04-10 15:21] vtoliveira commented on #15
Yes, I checked the structure and this is something to discuss.

For visnights dataset I do not have a place to download data, I just got the one from R and transformed into a long data format because I think this is the standard use case and how data come from databases, look what I did here: [visnights.ipynb](https://github.com/vtoliveira/scikit-hts-examples/blob/add-visnights-example/notebooks/v

[2020-04-10 15:28] vtoliveira commented on #15
Also, we could do something like:

[code]

And

[code]

Or something suggestive to get data in a format that scikit-hts requires. (This would help us in tests as well)
Sorry for above, I just have the idea, I will put images later and edit the comment.

[2020-04-13 11:46] #14 closed

[2020-05-06 02:51] vasuki1982 opened #17 "Does HTS handle linear regression in a forecast?"
Carlo,

I have historical data which has both seasonal and linear components (e.g. sales that are both increasing month on month, and also have seasonal variations). Does the HTSregressor handle it? I am getting all negative forecasts when I tried your function. I have a hierarchy of 14 countries and 12 products under each country. I used Sarimax with revision method = 'OLS'.. Should I be using so

[2020-05-08 10:16] carlomazzaferro commented on #17
The revision method does not impact how the underlying forecasts are produced. To capture seasonal and trend components more easily, prophet is the way to go. I'd suggest you try fitting a single time series for it, and ensuring it captures your trend and seasonality.

Alternatively, auto_arima is also a good chioce, though fitting times might be slower. Once you found a model with parameters that

[2020-05-08 10:16] #17 closed

[2020-05-09 16:39] vtoliveira commented on #10
I can work on that. For my undergraduate dissertation, I will use M5 data for Walmart sales up to department level (item is too much and involves intermittent demand that is another problem) and I will compare usage of classical models and ML ones with and without exogenous variables.

[2020-05-09 21:30] carlomazzaferro opened #18 "[ENHANCEMENT] Ability to use different metrics for calculating forecasting errors"
**Is your proposed enhancement related to a problem? Please describe.**
Right now the metric used to calculate the forecasting error is hard coded as the MSE: https://github.com/carlomazzaferro/scikit-hts/blob/master/hts/model/base.py#L69

Providing the ability to use custom metrics would greatly improve the usability of the library, as well as tailoring it to different use-cases

**Describe the s

[2020-05-09 21:41] vtoliveira commented on #18
I will try to work on that, and give feedback as I advance. So for custom metrics you are also thinking
in adding a hts.metrics interface as well? Because I am aware that sklearn does not implement a lot of them, just basic ones.

So in my mind would be something like:

[code]

Also, we have [this Hyndman's](http://datascienceassn.org/sites/default/files/Another%20Look%20at%20Measures%20of%20Forec

[2020-05-09 22:31] vtoliveira opened #20 "[ENHANCEMENT] Add warning step when dealing with string index instead of int / datetime"
**Is your proposed enhancement related to a problem? Please describe.**
Sometimes you create a dataframe with date as a string format, then when doing prediction, it will raise following error:

![image](https://user-images.githubusercontent.com/32197310/81486356-a69fe580-922a-11ea-9df0-294d424d599c.png)

The thing is that happens only at prediction time, and not at fitting time. Since depending o

[2020-05-09 22:35] vtoliveira opened #21 "[BUG] UserWarning coming from predict in auto_arima"
**Describe the bug**
When fitting models using auto_arima, in prediction time a UserWarning for each node is logged into the screen.

![image](https://user-images.githubusercontent.com/32197310/81486569-fe8b1c00-922b-11ea-90de-beb09294590a.png)

**To Reproduce**
Fit a HTSRegressor using auto_arima a model option.

**Expected behavior**
No warning.

**Desktop (please complete the following informat

[2020-05-10 05:27] ryanvolpi opened #22 "[BUG] WLSS and WLSV are treated the sames as OLS by revise"
**Describe the bug**
Revise method in revision.py treats WLSS and WLSV as OLS

**To Reproduce**
Specify the reconciliation method as WLSS or WLSV when using the hts regressor.

**Expected behavior**
When self.name is OLS, WLSS, or WLSV, I would expect the revise method to pass method = self.name to optimal_combination() but instead, it passes method=MethodsT.OLS.name

**Desktop (please complete th

[2020-05-10 14:22] vtoliveira commented on #18
Another question that I was thinking of, considering the case implemented above, the metric should automatically calculated rmse for each node or should we leave it to the user?

Because we have two different cases:
 - First, user passing metric as string / callable, in base.py each series is calculated at time.
 - Second, user get model.predict and compare with a test dataset. And we would have h

[2020-05-10 14:43] vtoliveira commented on #18
Forget about it, sklearn already implements in this way, you choose if you want multioutput or not, I will try to follow their guidelines and practice so we have a robust metric. I will start with rmsse, the one used in M5 current competition.

[2020-05-12 10:35] carlomazzaferro commented on #22
Thanks for spotting that! Quite a mistake; We'll have to work on verifying the tests for the WLSS and WLSV methods. I'll give it a look around Thursday this week.

[2020-05-12 10:36] carlomazzaferro commented on #21
That's fine for now, though it seems like there isn't much we can do apart from migrating to newer versions of pmdarima. Feel free to test out different versions and check if it resolves the issue

[2020-05-14 03:12] ryanvolpi commented on #22
Thanks! I took a look at the WLSS and WLSV methods but I haven't quite figured out the issue yet. I did notice that the WLSS method seems to be missing the kh values (the variances). I'll have time to figure it out on Friday.

[2020-05-15 22:31] ryanvolpi opened #24 "[FEATURE] Add option for method = "NONE""
**Is your feature request related to a problem? Please describe.**
There is currently no way to compare the revised predictions against unrevised predictions.

**Describe the solution you'd like**
An option to specify that the HTSRegressor applies no revision method and simply provides the predictions made by the individual models at each level.

**Describe alternatives you've considered**

**Addi

[2020-05-15 22:35] ryanvolpi commented on #22
I haven't been able to run the tests myself yet but the results on Github indicate that one of the revise methods encounters a singular matrix when computing the inverse. I don't know if this is a limitation of the method on the particular dataset or a problem with the implementation. The WLSS and WLSV methods seem to work fine on the Visnights dataset. However, WLSS estimates are wildly inaccurat

[2020-05-16 12:35] carlomazzaferro commented on #24
Absolutely @ryanvolpi , fee free to send over the PR whenever you're ready!

[2020-05-17 23:25] ryanvolpi commented on #22
Nix that. Including the variance ultimately doesn't affect the results.

[2020-05-18 20:57] #24 closed

[2020-05-19 07:46] mpearmain opened #26 "[BUG] Initialization HTSRegressor throws error requesting pmdarima"
**Describe the bug**
On a fresh install trying to import HTSRegressor throws an error
`ModuleNotFoundError: No module named 'pmdarima'`

**To Reproduce**

Within python

[code]

**Expected behavior**
To import HTSRegressor without module import error

**Desktop (please complete the following information):**
 - OS: "Ubuntu 18.04.4 LTS"
 - scikit-hts version: 0.5.1
- Python version: 3.8.1

**Additio

[2020-05-19 10:24] carlomazzaferro commented on #26
Thanks for reporting. As per the docs, `pip install scikit-hts[auto_arima]` fixes it, but I do agree that throwing errors on init is not ideal. The PR fixes it and notifies the user the desired methodology can't be used due to missing dependencies.

Fixed by https://github.com/carlomazzaferro/scikit-hts/pull/27

[2020-05-19 10:24] #26 closed

[2020-05-19 17:50] ryanvolpi opened #28 "[FEATURE] ability to specify revision method during predict"
**Is your feature request related to a problem? Please describe.**
If I want to create predictions with multiple different revision methods I need to repeatedly start over, define a new regressor, and retrain the all of the models.

**Describe the solution like**
The revision method only comes into play during the prediction stage and does not alter the training step whatsoever. Therefore, I think

[2020-05-20 03:37] mpearmain commented on #28
From an interested users perspective, (who is keen to get involved) this decoupling of the revision from the training makes sense to me, however as a strong decoupling

This feels very hacky to me:
_"being able to pass the revision method name to the `predict` function which will supercede the method specified to the HTSRegressor object"_

This kinda breaks the point of having a revision method in

[2020-05-20 04:37] ryanvolpi commented on #28
That is a good point. I like the first method you suggest as it seems in line with the sklearn API. Also, it is similar to the functionality of R's HTS package. What do you think @carlomazzaferro?

[2020-05-20 14:15] matt-mrf opened #30 "unsupported operand type(s) for +: 'Timestamp' and 'NoneType' when using model.predict"
**Describe the bug**
After fitting the model, using model.predict(steps_ahead=n), it goes to 100% but then throws the following error: "unsupported operand type(s) for +: 'Timestamp' and 'NoneType' when using model.predict"

**To Reproduce**
I have a dataframe very similarly set up to the M5 notebook. I can't see any things in how it would
differ besides the numbers. The hierarchy is set up correc

[2020-05-20 14:17] vtoliveira commented on #30
Have you tried to transform your index in a datetime format? I have had similar issues, and solved that by doing, for example:

[code]

[2020-05-20 14:19] vtoliveira commented on #30
Look at this: https://github.com/carlomazzaferro/scikit-hts/issues/20

@carlomazzaferro can you think in something to deal to deal with that? Maybe an error instead of warning...

[2020-05-20 14:30] matt-mrf commented on #30
`df.index` gives me datetime already.. But using

[code]
from hts.hierarchy import HierarchyTree

ht = HierarchyTree.from_nodes(nodes=hierarchy, df=df)
[code]

[2020-05-20 14:44] matt-mrf commented on #30
`df.index = pd.to_datetime(df.index)` Did not work.. It throws the same initial error on predict.

[2020-05-20 14:46] vtoliveira commented on #30
Give me the whole trace error, please.

[2020-05-20 14:49] matt-mrf commented on #30
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-325-93b9209cddb0> in <module>
----> 1 preds = model.predict()

~/anaconda3/envs/thesis/lib/python3.7/site-packages/hts/core/regressor.py in predict(self, exogenous_df, steps_ahead, distributor, disable_progressbar, show_warnings, **p

[2020-05-20 14:55] vtoliveira commented on #30
Try to do a resample in your dataframe. Something like:

[code]

We will need to fix that, but when datetime does not have a freq, it raises this error.

[2020-05-20 19:12] matt-mrf commented on #30
That did the trick!

[2020-05-20 20:27] vtoliveira commented on #30
You are welcome. I will try to see how they do that in statsmodels so we can replicate here, this is definitely a bug we should fix as soon as possible.

[2020-05-20 21:43] ryanvolpi commented on #30
Are we considering adding support for numeric/ other types of indexes?

[2020-05-21 10:12] 1653106 commented on #30
You need to define the freq for your DatetimeIndex and it should be fine like below or df.index.freq = 'D' (or any type you want). If not its freq will be None and trigger this error!

[2020-05-21 10:24] 1653106 opened #31 "Cannot build hierarchy with large dataset"
* scikit-hts version: 0.5.1
* Python version: 3.7
* Operating System: Windows 10

### Description

Jupyter notebook's kernel is dead when trying to build HierarchyTree with a very large dataset.

### What I Did
My dataframe has 64 rows x  205664 columns. After building nodes I proceed to build the tree (I want to make sure before fitting it). I use Jupyter notebook. It runs for some time and the k

[2020-05-21 13:10] vtoliveira commented on #30
I am not sure @ryanvolpi. To be honest, we could try pass predict to the underlying objects and they handle that better than us. I notice we are duplicating code in this matter and all tests related are going to be equal the ones in statsmodels. test_freq, test_predict_with_freq_D, etc. What do you think?

[2020-05-23 19:32] carlomazzaferro commented on #31
Thanks for reporting. While I don't have a solution for you right now, it is good to know what kind of performance issues might arise when dealing with larger datasets. Just to give some background, the hierarchy tree is build by keeping in memory each node (represented as a pandas series/dataframe (in case you add exogenous variables)).

In the future, it might be possible to defer the instantiat

[2020-05-23 19:32] #31 closed

[2020-05-23 19:42] carlomazzaferro commented on #28
@mpearmain you got it completely right that the HTSRegressor is simply a pipelining operation between your usual forecasting and the application of the revision methodologies. Something that I've added that probably I should've done a better job documenting is the `hts.convenience.revise_forecasts` method:  https://scikit-hts.readthedocs.io/en/latest/modules.html#module-hts.convenience

You can br

[2020-05-23 19:46] carlomazzaferro commented on #22
@ryanvolpi feel free to change the test dataset and use the Visnights in the PR, which is realistically a more reasonable dataset than the currently used one (synthetic hierarchical sinusoidal data, an idea that I just came up with but that does not necessarily translate to real-world scenarios). Let me know if you can get around testing that, else I can give it a go.

[2020-05-28 01:08] mpearmain commented on #28
Id be happy to help in that effort, (like everyone im backed up as well)
As you state the real power of this library is about resolving the hierarchical nature of forecasts and the revision there after.

With this effort i'll also try and add an HTS-example using some of the auto-forecasting packages like https://github.com/firmai/atspy to show it working external to the `HTSRegressor` class and t

[2020-06-11 01:29] mpearmain commented on #28
@carlomazzaferro did you want to discuss this request further in terms of design?

[2020-06-25 07:59] diggs1711 opened #33 "[BUG] Predict function fails when using the revision methods 'AHP' and 'PHA' while also setting transform=True"
**Describe the bug**
The predict function of  a HTSRegressor throws the error ''bool' object has no attribute 'inverse_transform' when it is called with the revision method 'AHP' or 'PHA' and transform is set to True.

When the revision method is instantiated inside the _init_revision function, self.transform, which is a boolean value, is passed to the RevisionMethod class but it is expecting a tr

[2020-06-29 12:21] voornd opened #34 "[ENHANCEMENT] add_seasonality in prophet model"
**Is your proposed enhancement related to a problem? Please describe.**
In the non-hts version of prophet, we use external variables in both the external_regressor way and in the 'add_seasonality' way, since the performance of using one or the other differs per variable. Currently (as far as I can tell), this option is not yet available here.

**Describe the solution you'd like**
Ideally we would

[2020-07-30 07:02] svjack opened #35 "[BUG] BU revision seems have some bugs"
**Describe the bug**

class method _y_hat_matrix seems like filter out
leaves part of forecasts, but use keys generated by range
as int, so when call y_hat_matrix in functions.py will yield error
of can’t find key, because the key of forecasts may be str from
df column names.

**Additional context**
to tackle it. should resort the key to make root key in the first (the order is
important) and perf

[2020-07-30 07:31] svjack commented on #35
may could overload _y_hat_matrix in this simple way:
`from hts.revision import *
class RevisionMethod_BU(RevisionMethod):
    def _y_hat_matrix(self, forecasts):
        print("forecasts first key: {}".format(list(forecasts.keys())[0]))
        n_cols = len(list(forecasts.keys())) + 1
        keys = range(n_cols - self.sum_mat.shape[1] - 1, n_cols - 1)
        named_keys = list(map(lambda k_idx: l

[2020-07-30 07:33] svjack commented on #35
![Uploading D89B2EA0-170D-4C82-988A-05D7614105A0.jpeg…]()
may edit _y_mat_matrix of RevisionMethod

[2020-07-30 07:34] svjack commented on #35
![Uploading 9F67154F-2F2B-4F21-A3B5-0CBF5EACBB9D.jpeg…]()

[2020-07-30 07:36] svjack commented on #35
![Uploading 88894415...]()

[2020-08-02 19:37] samLozier opened #36 "Possible [BUG] - High memory usage causing colab notebooks to crash and local system swap usage."
Caveat that I'm new to using most of these libraries, so this could just be operator error. My expectation was that given that these examples were based on a Kaggle competition, they should generally be able to run on readily available free/cheap systems.

**Describe the bug**
I attempted to follow the M5 examples in the "[examples](https://github.com/carlomazzaferro/scikit-hts-examples/blob/maste

[2020-08-03 21:12] ashkrelja opened #37 "[BUG] Bug report"
**Describe the bug**
Cannot import name 'HierarchyTree' from 'hts

**To Reproduce**
from hts import HierarchyTree

**Expected behavior**
Expected HierarchyTree to be imported in order to define a hierarchy to pass into HTSRegressor.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - scikit-hts version: 0.5.2
- Python version: 3.7.3

**Additional context**

ImportError:

[2020-08-07 12:46] jstammers opened #38 "[BUG] Boxcox transform fails for a Prophet model"
**Describe the bug**
I am unable to obtain predictions from a `FBProphetModel` when `transform=True`.
The error message implies that it is unable to safely apply the `inv_boxcox` method to the values returned by the `Prophet` model.
I suspect this is because the model is returning negative values.
**To Reproduce**
[code]

**Expected behavior**
When calling the underlying Prophet model, the input d

[2020-08-12 11:52] #22 closed

[2020-08-12 11:54] carlomazzaferro commented on #35
Thanks for the report. Would you be interested in submitting a PR? @svjack

[2020-08-26 07:15] svjack commented on #35
this may help.
https://github.com/svjack/Bu-Hts

[2020-08-29 20:35] rosie-grq opened #41 "[BUG] Getting Error Message when Using the Package to Predict"
**Describe the bug**
The following error message comes from the predict function:
<img width="999" alt="Screen Shot 2020-08-29 at 1 31 17 PM" src="https://user-images.githubusercontent.com/58502892/91645737-9049af80-e9fc-11ea-8c3f-6cda4afc7b28.png">

**To Reproduce**
Input:
<img width="969" alt="Screen Shot 2020-08-29 at 1 32 51 PM" src="https://user-images.githubusercontent.com/58502892/91645739-

[2020-09-20 05:28] ghrahul opened #42 "ValueError"
**ValueError**
ValueError: shapes (533,533) and (505,) not aligned: 533 (dim 1) != 505 (dim 0)

The shape of my modeling data frame is 42 rows × 505 columns.

[code]
The fit function is working fine and doing the 100% training. But when I am doing
[code]
I am getting value error after the 100% training is done. I have printed each step I am getting output till new_mat and hat_mat

[code]

[2020-09-21 04:34] ghrahul commented on #42
I further found out that for the example from scikit-hts-examples the M5 notebook is working fine and for the modelling data frame of shape 1913 rows × 30604 columns, the following function is generating sum_mat shape 30604, 30490
[code]
But in my case, it is adding 28 extra rows which are causing the problem.

[2020-09-23 07:00] ghrahul commented on #42
The hierarchy tree cannot have the same name child for different nodes.

[2020-09-23 07:00] ghrahul commented on #42
The hierarchy tree cannot have the same name child for different nodes.

[2020-09-23 07:00] #42 closed

[2020-10-01 07:42] som028 opened #43 "ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"
* scikit-hts version: 0.5.3
* Python version: python 3.7
* Operating System: MacOS

### Description

Trying to recreate example  available on scikit-hts-examples/notebooks/ using below data

from hts.utilities.load_data import load_hierarchical_sine_data

sine_hier = {'total': ['a', 'b', 'c'], 'a': ['aa', 'ab'], 'aa': ['aaa', 'aab'], 'b': ['ba', 'bb'], 'c': ['ca', 'cb', 'cc', 'cd']}
s, e = datetim

[2020-10-01 22:36] selenonel opened #44 "Recursion Error"
I cannot run more than two levels in local machine using Jupyter notebook.
hierarchy = {**total, **state_h} --> works
hierarchy = {**total, **state_h, **store_h} ---> fails with below error

print(sys.getrecursionlimit())
3000

---------------------------------------------------------------------------
RecursionError                            Traceback (most recent call last)
<ipython-input-25-a2

[2020-10-02 21:40] valerdat opened #45 "scikit-hts prophet model returns non-like fbprophet results"

[2020-10-02 21:56] #45 closed

[2020-10-03 19:32] edarca opened #46 "Weird Result from HTS using Prophet"
**Describe the bug**
Defining HTSRegressor with model "prophet"

`clf = HTSRegressor(model='prophet', revision_method='OLS')`
`model1 = clf.fit(df_train, hierarchy)`

returns something like a lineal regression.
Plotting the results of the prediction using scikit-hts and fbprophet as

`model = fbp.Prophet(yearly_seasonality=True)`
 `model.fit(df, algorithm='LBFGS')`
`future = model.make_future_data

[2020-10-07 11:33] edarca commented on #38
I am unable too. I have tried to transform the negatives values, but still appears same error. Do anyone know why it happens?
Have you found a solution @jstammers ?

[2020-11-01 13:15] carlomazzaferro commented on #43
I can't reproduce on master, what is your `pip freeze` output?

Feel free to compare to mine, which I just ran from fresh on `scikit-hts-examples` after issuing `make install-all`

![Screenshot 2020-11-01 at 14 15 00](https://user-images.githubusercontent.com/9201443/97803912-a407d100-1c4c-11eb-9f0b-a0dd55e6fabc.png)

[code]

[2020-11-01 13:15] carlomazzaferro commented on #37
Update to 0.5.3

[2020-11-01 13:15] #37 closed

[2020-11-01 13:18] carlomazzaferro commented on #34
Sorry for the late reply, but I'd be happy to support that feature.

[code]
this pattern seems to fit well the current implementation. Let me know if you are still interested in contributing.

[2020-11-01 13:18] #21 closed

[2020-11-01 13:21] carlomazzaferro commented on #28
@mpearmain I'm sorry I dropped out of the conversation for some time -- work and personal life have not been the nicest on my side recently, but I've found some renewed interest in working on this. If you are still interested in contributing, I'm open to your proposed solution

[2020-11-01 13:21] #30 closed

[2020-11-12 15:47] jeremydiba opened #47 "[BUG] AutoArima fails on exogenous example"
**Describe the bug**
Passing of exogenous variables to hts.model.AutoArimaModel is of incorrect shape and therefore fails.

**To Reproduce**
Create a Hierarchy tree using training set like seen in examples with exogenous variables:

exogenous = {k: ['SNP', 'HMI'] for k in df_train.columns if k not in ['SNP', 'HMI']}
ht = HierarchyTree.from_nodes(hier, df_train, root='United States', exogenous=exog

[2020-11-12 16:15] #47 closed

[2020-11-14 01:41] jeremydiba commented on #38
Also Encountering this bug

[2020-11-20 19:08] noahsa opened #48 "[FEATURE] Creating Grouped Time Series Structure"
**Is your feature request related to a problem? Please describe.**
It's not a problem. I am looking to create a grouped time series structure, as opposed to a hierarchical.

**Describe the solution you'd like**
I was wondering if you have any experience, suggestions, or an example would be wonderful demonstrating how to use this library to create a grouped time series structure? Or if it is possib

[2020-11-21 19:19] carlomazzaferro commented on #48
Grouped time series would operate in the same way as hierarchical time series, except that there is a single level of aggregation. For the mobility data, it would be something like:

[code]

The reconciliation algorithms still apply, so you can still use the same methodologies included in the library. See https://otexts.com/fpp2/gts.html for more background

[2020-11-23 15:20] noahsa commented on #48
Thank you for the quick response! That's great to hear that the reconciliation algorithms will still work in the library too, since that's the next step for us.

I am still a little fuzzy though on  how to create the grouped representation from your example. If we looked at the example at the top of the FPP page you linked, how would you represent the groups using the hier dictionary?

Attributes

[2020-12-17 09:22] pankaj-kvhld opened #49 "[BUG] Bug report: AttributeError: 'NoneType' object has no attribute 'fit'."
**Bug description**
While trying to reproduce the example given here: https://scikit-hts.readthedocs.io/en/latest/usage.html, I got the following error.  Same error appears when running https://github.com/carlomazzaferro/scikit-hts-examples/blob/master/notebooks/visnights.ipynb too.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Throws the following error**
RemoteTraceback

[2020-12-17 18:16] JustinNeumann commented on #35
+1

[2020-12-18 11:15] JustinNeumann commented on #38
+1

[2020-12-20 09:08] an5ir opened #50 "[DOCS] Documentation Example of how to apply top-down, middle-out, bottom-up approach."
Hi,

In the fpp2 book on the chapter  [Forecasting hierarchical or grouped time series](https://otexts.com/fpp2/bottom-up.html), it is possible to easily switch between different methods (top-down, middle-out, bottom-up) when using the hts approach.

[code]

can you provide an example of how this can be done using scikit-hts package

[2020-12-20 19:59] carlomazzaferro commented on #49
Can't reproduce, might be related to how the implementation of multiprocessing works on Windows. Note Windows is not currently supported / tested.

A few notes:
- Bump scikit-hts version to 0.5.3, as it has some improvements in how parallelism is handled
- Try running the examples in docker, with `docker run carlomazzaferro/scikit-hts-examples:0.2.2`

[2020-12-20 19:59] #49 closed

[2020-12-20 20:33] carlomazzaferro commented on #50
https://scikit-hts.readthedocs.io/en/latest/hts.html#hts.HTSRegressor.__init__

You can see which approaches are available here

[2020-12-20 20:33] #50 closed

[2020-12-20 20:37] carlomazzaferro commented on #44
Would you be able to post sample data for the example you're running? I'd like to reproduce locally to further debug

[2020-12-20 20:38] carlomazzaferro commented on #38
The transform is finnicky, and  likely one of the least tested portions of the codebase. I'll be revamping it in the coming days.

[2021-01-26 20:33] laurademenezes commented on #41
I solved it by making sure the index is in datetime format and also changing the original _get_predict_index function on regressor.py file to this code below

`def _get_predict_index(self, steps_ahead=1):

        freq = getattr(self.nodes.item.index, 'freq', 1)
        start = self.nodes.item.index[-1]

        future = pandas.date_range(freq='MS',
                                   start=start,

[2021-02-01 01:07] cdeterman commented on #34
Am I correct in understanding this issue/enhancement is in regards to adding external regressors (e.g. holidays) to the hts model? I want to make sure I don’t open a duplicate issue if so.

[2021-02-01 02:10] cdeterman opened #52 "[DOCS] Seasonality Mode for Prophet?"
I don’t know if I am overlooking it but is there a way to specify multiplicative seasonality for the underlying prophet models?

for details see here https://facebook.github.io/prophet/docs/multiplicative_seasonality.html

[2021-02-07 12:11] mtorabirad commented on #49
I get the same error: "AttributeError: 'NoneType' object has no attribute 'fit'"

[2021-02-07 13:07] carlomazzaferro commented on #52
That is possible. You can pass prophet specific params to the model instantiation via the `HTSRgressor`'s kwargs. They will be transparently passed to the instantiation of the `fbprophet.Prophet` underlying models

[2021-02-07 13:07] #52 closed

[2021-02-09 00:00] ndah-e opened #53 "[BUG] Python segmentation fault"
**Describe the bug**

I am trying to use the package for hierarchical time series using prophet. My code worked properly up to and including a 4 level hierarchy. But when I extend hierarchy to 5 and 6 levels I get a python segmentation fault.

Fatal Python error: Segmentation fault

Current thread 0x00000001170e1e00 (most recent call first):
  File "/Users/ndah/opt/anaconda3/lib/python3.8/site-pac

[2021-02-17 18:25] cdeterman commented on #38
Upvote, I am encountering this same continued issue.

[2021-02-18 16:14] cdeterman opened #54 "[BUG] Bug report"
It seems best to have a separate issue to address this problem.  The underlying prophet model is not able to do the min and max capacity constraints.  The following reproduces the problem regardless of whether the underlying data is transformed.

[code]

Not sure if there would be a way to either modify the internal generation of the `future` object or if can be passed by the user.

[2021-02-23 04:38] PeggyFan opened #55 "[BUG] Bug report - exog variables fitting"
Hi,
(Seems that I opened the issue with the wrong repo, at scikit-hts-examples, and got no response since Jan 4. But so glad I found this one)

I am following the hts documentation to add exogenous variables to a model.

So far I succeeded in using the hmv `load_mobility_data()`, creating exogenous features for each node:
`exogenous = {k: ['precipitation', 'temp'] for k in hmv.columns if k not →in

[2021-02-23 04:40] PeggyFan commented on #55
Made some progress:
I replaced any if-statement that checks if `exogenous_df` exists in `hts/core/regressor.py` with `exogenous_df is (not) None`
and solved the above error message.

Then I encountered:

[code]

As shown in previous message, `precipitation` does exist in `exogenous_df`.
So I got stuck here again.
Do I need to pass more argument in the `predict()` function? Can more example be adde

[2021-02-23 23:21] noahsa commented on #48
Resolved in #51.

[2021-02-23 23:21] #48 closed

[2021-02-24 15:32] r4ch45 commented on #42
Hi There,
I think I have a similar error, but don't quite understand your solution, or if it indeed is the same thing. Appreciate any insight!

My hierachy:
- TED
   |- GT
   |- WIND
   - ALL_BUT_WIND_AND_GT
      |- COAL
      |- NUCLEAR
      |- REST
      |- BIOMASS
      - INTERCONNECTORS

Initial fit is fine, but when I come to predict I get a ValueError from mismatched arrays. If I reduce th

[2021-04-12 23:35] kelliemac opened #56 "[FEATURE] Add support for Min-T reconciliation ("optimal reconciliation" using trace minimization and historical errors)"
**Is your feature request related to a problem? Please describe.**
Not a problem exactly, but a missing piece of functionality that would make the package more useful (IMO) and more on par with the advanced hierarchical reconciliation capabilities available in R.

**Describe the solution you'd like**
I want to be able to do "optimal reconciliation" via trace minimization as in the R package hts (s

[2021-04-14 18:37] rohan-gt commented on #10
Any update on this? I was looking for a way to use external regressors in Prophet

[2021-04-14 18:44] rohan-gt opened #57 "[FEATURE] Automatic Generation of Hierarchy Dataset and Mapping"
**Is your feature request related to a problem? Please describe.**
It's very complex to create the hierarchical pivot dataset from a dataset in its long form especially if there are many levels in the hierarchy

**Describe the solution you'd like**
A method which takes in the date field and a list of levels (column names) in the dataset and generates the pivot table at the date level and the hiera

[2021-04-14 18:47] rohan-gt opened #58 "[BUG] How are time series of unequal lengths handled?"
Imagine that I'm trying to model multiple time series having different date ranges, meaning a lot of missing values when combined together. How are these time series modelled in this package?

[2021-04-15 11:14] carlomazzaferro commented on #58
It is currently assumed by the package that the time series are all time-aligned. If the underlying time-series contain missing values, you'd have to either deal with them yourself, or assume that the underlying model deals with them natively (i.e.; you'd be offloading the functionality of dealing with missing values to prophet, AutoARIMA, etc.)

[2021-04-15 11:14] #58 closed

[2021-04-15 11:22] carlomazzaferro commented on #57
This seems reasonable at a first glance -- to be sure, you'd like to have an automated way of going from [list of records ungrouped by either time or group] -> [grouped time series, indexed by time]. The inputs here would be the long-form data frame, as well as a dictionary mapping (likely having some sort of nesting to indicate parent-child relationship).

Is this correct? If you could provide a

[2021-04-15 11:25] carlomazzaferro commented on #56
We're always looking to improve the package and keep it up to date with current research, though my time is limited. I'd be extremely happy to get that into the package. If you have ongoing work on this, please feel free to open a PR, as it seems like the perfect extension (and a minimally invasive one) of the methods hereby offered.

[2021-04-15 17:34] kelliemac commented on #56
Awesome! Hopefully in the next month or so I'll be able to submit a PR. This is related to work I've done at Microsoft and I need to get company approval before publishing anything to open source, but I don't anticipate any problems getting it approved (it just might take some time). And I need to clean up my code a bit and make sure the changes are minimally invasive and include appropriate tests

[2021-04-16 07:17] carlomazzaferro commented on #56
Sounds excellent. Looking forward as well! Thanks for taking the time.

[2021-04-16 07:18] #3 closed

[2021-04-16 07:18] #18 closed

[2021-04-16 07:19] carlomazzaferro commented on #10
@rohan-gt I'll try getting to this in the next week or 2

[2021-04-16 07:27] carlomazzaferro commented on #57
If what I describe is what you need, this has been discussed in the past. See https://github.com/carlomazzaferro/scikit-hts/issues/15

The notebook linked, now in master, also does have a sample implementation (though specific to its data). I'd welcome you to suggest an implementation that can be placed in our `hts.utils` module.

In the meantime, I'll close this one in favour of the more extensiv

[2021-04-16 07:27] #57 closed

[2021-04-16 21:00] javierhuertay commented on #35
Thank you Justin,
Don't know what **MethodsT.BU.name**, but in my case in with == 'BU' worked.

@carlomazzaferro I think that this must be a PR, there are many people getting the same error.

Like, https://towardsdatascience.com/introduction-to-hierarchical-time-series-forecasting-part-ii-e73dfd3de86b

[2021-04-16 21:03] carlomazzaferro commented on #35
Thanks for bumping this -- somehow missed it. Let me know if you want to PR it, else I'll try to get it this weekend

[2021-04-17 03:05] javierhuertay commented on #35
I tried but I'm unable to run python setup.py test, it says **error: invalid command 'pytest'**

[2021-04-17 07:19] carlomazzaferro commented on #35
This should be added to the docs -- I'll provide a patch.

Linting:
[code]

Testing:
[code]

[2021-04-20 06:27] #41 closed

[2021-04-20 06:28] #43 closed

[2021-04-20 06:28] #46 closed

[2021-04-20 06:29] carlomazzaferro commented on #35
Closed via https://github.com/carlomazzaferro/scikit-hts/pull/63

[2021-04-20 06:29] #35 closed

[2021-04-26 17:00] juan-carvajal opened #64 "[DOCS] Documentation"
Hi, I was trying out the package but found problems even with the basic examples, The documentation describes the following code:

[code]

This code won´t even run, variable names passed to the fit call aren´t even defined.

I think a correct version would be:

[code]

Even so, this code fails when making predictions as shown here:
[code]

I think the basic example shown in the documentation shoul

[2021-04-26 17:59] carlomazzaferro commented on #64
Thanks for raising it. Data needs resampling, just pushed a quick fix to the docs.

See updated documentation: https://scikit-hts.readthedocs.io/en/latest/usage.html

[2021-04-26 17:59] #64 closed

[2021-05-05 21:08] PeggyFan commented on #55
Has anyone successfully used exogenous data frame in making predictions here?????

[2021-05-07 09:05] carlomazzaferro commented on #55
@PeggyFan , thanks for the in-depth report and sorry for the delays -- planning on taking a look at this this week. FWIW exhogenous variable prediction is currently not tested too thoroughly, which is something I've been planning on improving. Will keep updated with my findings

[2021-05-18 10:05] aakashparsi opened #65 "revise_forecasts() method raises an attribute error. AttributeError: 'Series' object has no attribute 'yhat'"
I want to revise my base forecasts, so wanted to use revise_forecasts() method but got an error like this.

* scikit-hts version: scikit-hts==0.5.4
* Python version: 3.6
* Operating System: Windows

[code]

What could be the best fix for this problem?

[2021-05-18 10:21] aakashparsi opened #66 "How to make forecasts strictly positive?"
* scikit-hts version: 0.5.5
* Python version: 3.6
* Operating System: Windows

### Description
Want to make my predictions to be strictly positive. For that, I want to make use of the log transformation function and I've passed a custom transformation function to the transform parameter. The final results still have negative forecasts. I want to know if I'm passing the custom function correctly. I

[2021-05-19 19:28] carlomazzaferro commented on #65
This was due to bad assumptions on the format of the `forecasts` dict. It was assumed that it is a DataFrame with a single columns, named `yhat`.

[This PR](https://github.com/carlomazzaferro/scikit-hts/pull/67) address it. Feel free to take a look, the tests should make it clear what the PR is achieving.

[2021-05-19 19:49] #65 closed

[2021-05-20 03:13] aakashparsi commented on #65
Thanks for the update @carlomazzaferro.
I just want to clarify one thing here. So, according to the updated code, To revise the forecasts we have to pass the DataFrame with one column. Is that right? If yes, then It would be better if you update the same in the documentation.

[2021-05-20 05:22] aakashparsi commented on #65
And, the same error pops up when using optimal_combination().
Here is the stack trace
[code]

[2021-05-20 09:14] carlomazzaferro commented on #65
You should not use `optimal_combination` directly. The new function that perform sanitization on the inputs should transform whatever you pass as your forecasts to a format that should work with the `revised = revision.revise(forecasts=forecasts, mse=errors, nodes=nodes)` (`optimal_combination` gets called by this method).

Now, you should be able to pass as forecasts a dict of strings to either `

[2021-05-21 08:37] carlomazzaferro commented on #65
Feel free to bump to scikit-hts 0.5.6, see updated convenience docs https://scikit-hts.readthedocs.io/en/latest/hts.html#module-hts.convenience

Thanks for your patience!

[2021-05-21 08:40] aakashparsi commented on #65
Sure @carlomazzaferro. Also, It would be very helpful If you throw some light on #66.

[2021-05-21 08:45] carlomazzaferro commented on #65
Yes, that is next on my task list and will tackle that together with the related issue about fixing the transforms functionality. Will keep posted when I have a PR in the works

[2021-05-21 08:47] aakashparsi commented on #65
Sure @carlomazzaferro. I Wholeheartedly appreciate all your efforts on this. Thank you so much.

[2021-05-23 17:45] haoranlee opened #69 "[BUG] Bug with prediction output since 0.5.4"
**Describe the bug**

Predictions at lower levels have strong bias in versions 0.5.6, 0.5.5, and 0.5.4.
Only back to 0.5.3 do plots of predictions look more in line with intuition when compared to true observations.

Example used was this [notebook](https://github.com/carlomazzaferro/scikit-hts-examples/blob/master/notebooks/visnights.ipynb) from the examples.
- Plot for auto-ARIMA model using 0.5

[2021-05-27 07:56] wilfreddesert commented on #56
@kelliemac , hi there! Are there any updates regarding this PR?

[2021-05-27 15:11] kelliemac commented on #56
@wilfreddesert hi, thanks for asking! Unfortunately a family tragedy happened on my end soon after my original post, and I had to take a step back from a lot of things including this. It is still on my to-do list, but it won’t be ready for probably another month.

Were you thinking of working on this feature, or hoping to use it, or interested for another reason altogether? I’m happy to try to coo

[2021-05-31 02:34] noahsa commented on #4
In progress #71

[2021-05-31 07:57] wilfreddesert commented on #10
Hey @carlomazzaferro
Are there any updates? I am currently working on a problem where having exogenous variables would really help a lot. Are you planning to fix that in the near future? If not, probably I could work on that too and make a PR.

[2021-05-31 13:01] carlomazzaferro commented on #10
Help is definitely wanted. If you want to take a stab, please go ahead. I'm a bit backlogged but very much willing to coordinate with you

As you can tell, my initial timeline got sidetracked. Let me know if you plan on working on this to avoid double work.

@wilfreddesert

[2021-06-01 18:52] #4 closed

[2021-06-03 06:21] carlomazzaferro commented on #66
@aakashparsi  WIP: https://github.com/carlomazzaferro/scikit-hts/pull/72

[2021-06-03 06:22] carlomazzaferro commented on #38
Thanks all for keeping me on my toes. WIP: https://github.com/carlomazzaferro/scikit-hts/pull/72

[2021-06-04 04:01] carlomazzaferro commented on #33
https://github.com/carlomazzaferro/scikit-hts/issues/38#issuecomment-853601578

[2021-06-04 10:02] carlomazzaferro commented on #38
Merged: https://github.com/carlomazzaferro/scikit-hts/pull/72. Bump to 0.5.8 for new goodies. Make sure to read the docs on how to specify the transform: https://scikit-hts.readthedocs.io/en/latest/hts.html#hts.HTSRegressor.__init__

[2021-06-04 10:02] #38 closed

[2021-06-04 10:02] carlomazzaferro commented on #66
Merged: https://github.com/carlomazzaferro/scikit-hts/pull/72. Bump to 0.5.8 for new goodies. Make sure to read the docs on how to specify the transform: https://scikit-hts.readthedocs.io/en/latest/hts.html#hts.HTSRegressor.__init__

[2021-06-04 10:02] carlomazzaferro commented on #33
Merged: https://github.com/carlomazzaferro/scikit-hts/pull/72. Bump to 0.5.8 for new goodies. Make sure to read the docs on how to specify the transform: https://scikit-hts.readthedocs.io/en/latest/hts.html#hts.HTSRegressor.__init__

[2021-06-04 10:02] #33 closed

[2021-06-05 03:34] carlomazzaferro commented on #28
Closing due to inactivity

[2021-06-05 03:34] #28 closed

[2021-06-05 03:36] carlomazzaferro commented on #15
https://github.com/carlomazzaferro/scikit-hts/pull/70

[2021-06-05 03:36] #15 closed

[2021-06-05 05:10] carlomazzaferro commented on #55
Sorry for the delay, but here's the WIP: https://github.com/carlomazzaferro/scikit-hts/pull/73

[2021-06-05 09:58] carlomazzaferro commented on #55
https://github.com/carlomazzaferro/scikit-hts/pull/73 merged, bump to `0.5.9` for fixes

[2021-06-05 11:08] aakashparsi commented on #66
Hey @carlomazzaferro, I've updated my package to 0.5.8. As part of testing the transform functionality, I've implemented custom transform function as mentioned in [document](https://scikit-hts.readthedocs.io/en/latest/hts.html#hts.HTSRegressor.__init__). Then, I got this error
[code]
During the error trace analysis, I suspect that our code is expecting the instance of  `NamedTuple` from the `typin

[2021-06-05 11:20] carlomazzaferro commented on #66
@aakashparsi good catch, not sure how this passed the tests but the culprit is this:

[code]
Need to make an adjustment to the code, will lyk when it is in.

[2021-06-05 11:30] carlomazzaferro commented on #66
Alright, that was rather quick: https://github.com/carlomazzaferro/scikit-hts/pull/74

Mind if I add you as a reviewer? That way you can:

1. Browse the code, and get familiar with it
2. Test it locally, before we merge

[2021-06-05 11:39] carlomazzaferro commented on #66
0.5.10 on the release pipeline: https://github.com/carlomazzaferro/scikit-hts/actions/runs/909157630

[2021-06-05 14:46] #66 closed

[2021-06-08 12:02] wilfreddesert opened #75 "Still a bug in the current implementation of exogenous variables"
https://github.com/carlomazzaferro/scikit-hts/blob/a191eb080d881a071812b539a5bf84f49c5043cd/hts/core/regressor.py#L271

This line results in:
`ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().`

I guess it should be `elif exogenous_df is not None` so that everything works.

[2021-06-08 12:11] carlomazzaferro commented on #75
Good spotting, test case for that branch of the code is indeed missing. Wanna PR and and said test case? I'm out for the next few days

[2021-06-08 12:57] wilfreddesert commented on #75
I am taking a look. But there is one strange thing. Running this `REPORT=False make test` yields a few failures. I followed the instructions precisely, but it seems that some of the existing tests fail even without any changes in the code on my side.

[2021-06-08 13:02] wilfreddesert commented on #75
Probably, it was too naive of me to assume that having Python 3.9 doesn't matter :)

[2021-06-08 13:10] carlomazzaferro commented on #75
Hey if you're into it, adding 3.9 support could be pretty cool 🙃. In fact we're trying to support the latest 3 python versions, and AFAICT 3.9 was released Oct 5 2020 so it would make sure to add that and deprecate 3.6. I'll file an issue for that

[2021-06-08 13:11] wilfreddesert commented on #75
I would love too right after fixing the issues with exogenous variables. But now it seems that I am not able to run all tests successfully. Can you confirm that all of them run without errors on your side?

[2021-06-08 13:18] wilfreddesert commented on #75
It feels like there is some sort of incompatibility between pystan, fbprophet and/or numpy. Trying to figure it out, but that is a bit strange given that all the package versions should match the requirements

[2021-06-08 13:19] carlomazzaferro commented on #75
CI runs should confirm you that all the tests pass with 3.6, 3.7, 3.8 on
both Mac and  Linux. You're welcome to checkout master and follow the CI
workflow -- follow the set up steps and that should ensure you have the
right libs / env

On Tue, Jun 8, 2021, 16:12 wilfreddesert ***@***.***> wrote:

[2021-06-08 17:54] wilfreddesert commented on #75
You can take a look at my PR. It's not that good, but now it at least works the way I expect it to work when passing exogenous variables :)

[2021-06-09 11:07] wilfreddesert opened #77 "[BUG] Probably a bug in how reconciliation works now"
**Describe the bug**
It seems that currently there is either a bug in how reconciliation works or probably I just don't quite understand how it works :)

**To Reproduce**

[code]

**Expected behavior**
Surprisingly, in particular for the `BU` method some columns get removed from the dataframe and then the predicted dataframe has zeros instead of the forecasts.

[code]

Here is how you can reproduc

[2021-06-09 15:25] wilfreddesert opened #78 "[BUG] Possible bug in how a summing matrix is created"
https://github.com/carlomazzaferro/scikit-hts/blob/b9615b1c65c590449d27eced7b8a43fd16cea59a/hts/functions.py#L65

@carlomazzaferro , it seems that there might be problems with this function.
For example, when working with `data = load_mobility_data()`, there is the `OTHER` category that consists of several bottom-level series, but the rule that is coded (each part of the larger series is part of t

[2021-06-14 03:04] aakashparsi opened #79 "[BUG] KeyError when using custom root name"
**Describe the bug**
When I'm using a custom root name rather than `total`, I've got KeyError: `total` from the `forecast_proportions` method.

**To Reproduce**
[code]

**Error Trace**
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-150-1acac53bbd1b> in <module>
----> 1 pred = hts

[2021-06-14 07:19] carlomazzaferro commented on #79
Seems like the right diagnostic. Every instance of hardcoded "root" in the `functions.py` file should be replaced via param. I'm backed up, you think you could give this a go? @aakashparsi

[2021-06-14 07:20] #75 closed

[2021-06-14 07:21] carlomazzaferro commented on #77
Needs investigation. Will look into this this week.

[2021-06-14 07:23] carlomazzaferro commented on #78
Maybe @noahsa (the person that implemented that specific functionality) can pitch in?

[2021-06-14 19:13] aakashparsi commented on #79
I think I can spend time on this later next week due to the current work items I have for this week.

[2021-06-14 23:57] noahsa commented on #78
Yes, the OTHER category will not work in the current approach. It is unfortunate that this breaks the mobility example. I have not had the chance to go back and fix it. I tried to specify [here](https://scikit-hts.readthedocs.io/en/latest/hierarchy.html) the data/ string requirements. For this example to work OTHER would have to be formatted as ```"OTHER": ["OTHER_01",  "OTHER_13"]```.

The reason

[2021-06-15 00:05] noahsa commented on #77
I think this is tied to issue #78, where there are issues specifying the hierarchy with the mobility dataset.

[2021-06-28 06:10] andreluis-p commented on #42
I also couldn’t understand the solution… my error is exactly the same… I would highly appreciate a more detailed solution… thanks a lot. :)

[2021-06-28 14:01] aakashparsi commented on #1
Hey @carlomazzaferro, As you stated above I'm facing the memory issue for the SARIMAX even though if I'm using low_memory = True. Any quick fixes?

[2021-06-29 02:42] aakashparsi commented on #44
@selenonel, I have faced the similar issue but increasing the recursion limit solved the problem. Now, I'm wondering is that a good practice to do that? I think @carlomazzaferro may have an answer to this.

[2021-07-08 17:38] aakashparsi commented on #75
@wilfreddesert, @carlomazzaferro I have a query regarding exogenous variables. I have built a 3 level hierarchical structure(root, level1, level2). Leaving the root node, is it possible for me to add exogenous variables for all the nodes present in the remaining levels? I'm getting an error if I'm trying to do the same. Any insights on this?

[2021-07-09 07:56] aakashparsi opened #80 "[BUG] Error when forecasting with exogenous regressors for each of the node."
**Describe the bug**
When I'm passing a different exogenous regressor for each of the nodes in the hierarchy. I'm getting an error related to the shape of the data frame.

**To Reproduce**
I have a three-level hierarchy tree just like `load_mobility_data()` but the columns have one external regressor each. I'm passing the data along with the regressors but still, I'm getting an error during the `p

[2021-07-09 17:17] aakashparsi commented on #80
I've also tried the same using the `prophet` model there were no issues. Everything was working fine.

[2021-07-10 11:31] aakashparsi commented on #55
Hi @PeggyFan, Did you try the same example with Auto_Arima model instead of Prophet. Since you've debugged it already and has a clear understanding on that, It would be helpful if you can help me with predicting the auto_arima model with exogenous variables.

[2021-07-10 11:31] #55 closed

[2021-07-12 06:38] aakashparsi commented on #80
https://github.com/carlomazzaferro/scikit-hts/blob/b9615b1c65c590449d27eced7b8a43fd16cea59a/hts/model/ar.py#L64

I guess we are passing the entire exogenous data frame every time to the `predict()` function instead, we can pass only the exogenous data frame that is required for a given node in the tree.

Updating the code like this
`y_hat = self.model.predict(X=exogenous_df[self.node.exogenous], a

[2021-07-16 02:52] aakashparsi commented on #36
Hey @samLozier, I'm facing a similar issue like taking too long time, high memory usage. Have you got any solution for that?

[2021-08-25 19:31] bobbyinfj opened #82 "[BUG] Error installing with pip install scikit-hts[all]"
**Describe the bug**
Pip install with the all tag does not work.

```pip install scikit-hts[all]```
returns
```no matches found: scikit-hts[all]```

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.
Installation of all packages

**Desktop (please complete the following information):**
 - OS: macOS Big Sur (m1 ch

[2021-08-29 09:36] Downfor-u commented on #80
Hello, I'm facing the same problem here (see my post on [SO](https://stackoverflow.com/questions/68939597/grouped-time-series-forecasting-with-scikit-hts).
).
Thanks in advance for the fix !

[2021-08-30 15:26] aakashparsi commented on #80
@Downfor-u To fix negative forecasts, you could try square root transformation.

[2021-08-31 12:01] Downfor-u commented on #10
I can provide you with a test case based on Kaggle's store item demand challenge. You can grab the data [here](https://www.kaggle.com/c/demand-forecasting-kernels-only/data).
The objective, complete code and results so far can be found in this [SO question](https://stackoverflow.com/questions/68939597/grouped-time-series-forecasting-with-scikit-hts/68986648#68986648). **Please note that these resu

[2021-09-02 05:15] carlomazzaferro commented on #82
[code]

[2021-09-02 05:15] #82 closed

[2021-09-02 05:16] #78 closed

[2021-09-02 05:16] #77 closed

[2021-09-02 07:05] #53 closed, assigned to nobody

[2021-09-13 16:14] PeggyFan commented on #69
I'm interested in this as the forecasts for my sub-group are very poor. The HTS version I'm using is 0.5.11.

[2021-09-27 21:53] kurvaraviteja355 opened #83 "[BUG] Bug report ValueError: Shape of passed values is (249, 150), indices imply (249, 152)"
**Describe the bug**
For Hierarchical Time Series forecasting, I used the hts-regressor but when i fit the model for the dataframe it works very well without any bugs but when i try to make the prediction after the fitting the model it throughs the value error, I didn`t make any changes to the dataset. the error is shown below  and  same error for the prophet model as too

ValueError

[2021-10-01 16:47] PeggyFan commented on #50
@carlomazzaferro Is bottom-up the only available approach? I do not see anything explicit but I found the function ```forecast_proportions``` to be a possible candidate for the Top-Down approach? But how can I use this function to perform this approach?

[2021-10-25 03:44] jiahao87 opened #84 "[BUG] Possible error in computation of WLSV???"
**Describe the bug**
The diagonal matrix for the WLSV method currently is computed by the code below under `hts.functions.optimal_combination` function:
[code]

Is there a reason for the `np.flip`? I am assuming that the `mse.keys()` are in the same order as the `forecasts` parameter to `hts.functions.optimal_combination` function. By flipping the array, the base forecast errors will be presented

[2021-10-27 22:54] PeggyFan opened #85 "[BUG] After calling fbporphet model.fit(), no forecasts all null"
**Describe the bug**
I ran the fbprophet model

[code]

but it returned:
```{}```

So naturally all the predictions returned `nan`.

I have successfully ran a two level model, but not sure why three level hierarchy here isn't working.

**To Reproduce**
Steps to reproduce the behavior:
df:
[code]

hierarchy:
[code]

exogenous:
[code]

**Expected behavior**
I believe the inputs to the ```model.fit()

[2021-12-03 18:09] pst2154 opened #87 "[DOCS] Documentation"
In the API Reference, you are missing a parentheses

`from collections import namedtuple

Transform = namedtuple('Transform', ['func', 'inv_func']
transform = Transform(func=numpy.exp, inv_func=numpy.log)

ht = HTSRegressor(transform=transform, ...)`

should be

`from collections import namedtuple

Transform = namedtuple('Transform', ['func', 'inv_func'])
transform = Transform(func=numpy.exp, inv_

[2021-12-15 04:05] Rajan316 opened #88 "Pkl file not found error when running fbprophet"
* scikit-hts version:0.5.11
* Python version:3.7
* Operating System:Windows

### Description

I am trying to run an fbprophet model on hierarchical time series data. It was working fine till now. All of a sudden it is showing pickle file not found for a particular category

### What I Did
kwargs = {'yearly_seasonality':True,'weekly_seasonality':True,'changepoint_prior_scale':0.5}
clf = HTSRegresso

[2021-12-17 10:36] jd12006 commented on #10
Any updates?

[2022-03-09 12:14] Himank-K opened #89 "Error while fitting data"
* scikit-hts version:
* Python version:
* Operating System:

### Description

Trying to fit a dataset.
dataset is structured properly, as hierarchy tree is properly built

(
[code]
does not give any error and the tree is built properly how I want.)

No error while defining the model either.
(
[code]
gives no error)

But when I try to fit my data, it throws AttributeError saying:
'NoneType' object

[2022-03-24 03:28] karta282950 commented on #28
Hi, I found the issue recently.How can i use revise predict result by hts after i train a xgboost model?thans~

[2022-05-12 18:01] jstammers opened #90 "[BUG] SarimaxModel fails with to fit with exogenous data"
**Describe the bug**
I am failing to fit a SarimaxModel because the model reports that the exogenous and endogenous dataframes do not have the same index despite coming from the same dataframe.

After debugging, this seems to be due to the fact that the `_get_transformed_data` method does not preserve the index using the default transformer

I have been able to correct this using

[code]

But perh

[2022-05-25 19:02] bentontripp commented on #42
I am still getting this error, and am unable to find a solution. Has anybody else been able to solve this issue? Like it was mentioned in previous comments, the explanation doesn't really make sense... and thus far, everything I have attempted has been fruitless.

[2022-06-21 21:52] fahadahaf opened #91 "[FEATURE] Feature request"
**Is your feature request related to a problem? Please describe.**
The predict function of the time series models, auto_arima for example, does not support returning confidence interval for the hierarchical forecast.

[2022-06-22 07:10] rafal-wasowski commented on #56
@kelliemac sorry to hear about your family situation, I realise it must have been really hard if you're taking time off everything. It feels wrong to ask you for an update in this context, but if and when you're back I for one would be very interested in the development of this feature.
I have a quite basic understanding of both Python and linear algebra so I don't think I would be able to contrib

[2022-07-13 21:10] nehcgnak commented on #42
Do you figure out how to solve it? I have the similar issue shown below when the method=BU.
shapes (204,190) and (187,) not aligned: 190 (dim 1) != 187 (dim 0)
The 190 represents the # of bottom level components, I checked my tree and it does have 190 components at the bottom level but the weird thing is when it reconciliates the # decreases to 187. I don't know how to fix it. All my node names ar

[2022-07-13 21:14] nehcgnak commented on #42
All my node names are unique. The issue of my code is that it somehow decreases the # of bottom level components during the reconciliation and the error message comes out. However, when I print out the # of bottom level components from the "tree", the # is the same as the column # of the summing matrix.